/*
 * classes:
 * .node: node visual
 * .node .shape: background rectangle of the node
 * .node .label: label of the node
 * .node .icon: icon of the node
 * .edge: connection visual
 * .edge .curve: connection line
 * .edge .label: connection label
 * .edge .decoration: start/end arrow of a connection
 */

.node .shape {
	-fx-fill: rgb(135.0, 150.0, 220.0);
	-fx-stroke: rgb(99.0, 123.0, 71.0);
}

.node .label {
	-fx-fill: white;
	-fx-font-size: 14.0;
	-fx-font-family: "Times New Roman";
}

.edge .curve {
	-fx-stroke: rgb(99.0, 123.0, 71.0);
	-fx-stroke-width: 1.5px;
}

.edge .label {
	-fx-fill: black;
	-fx-font-size: 14.0;
	-fx-font-family: "Times New Roman";
}

.edge .decoration {
	-fx-stroke: rgb(99.0, 123.0, 71.0);
	-fx-stroke-width: 1.5px;
	-fx-fill: white;
}

.infotip {
	-fx-font-size: 12.0;
	-fx-font-family: "Times New Roman";
    -fx-text-fill: black;
}

.infotip-title {
	-fx-font-size: 14.0;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.infotip-key {
    -fx-text-fill: black;
}

.infotip-value {
    -fx-text-fill: black;
}

/*
VBox {
    -fx-border-width: 1.0;
    -fx-border-color: red;
}
 */
