<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="net.certiv.certivtools"
            class="net.certiv.antlr.dt.vis.views.ParseTreeView"
            icon="icons/obj16/Sample.png"
            id="net.certiv.antlr.dt.vis.views.ParseTreeView"
            name="Parsetree View"
            restorable="false">
      </view>
   </extension>

</plugin>
