<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="net.certiv.antlr.dt.console.AntlrConsoleFactory"
            icon="icons/obj16/console_view.png"
            label="Antlr Console">
      </consoleFactory>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="net.certiv.antlr.dt.ui.preferences.page.PrefPageAntlrDT"
            id="net.certiv.antlr.dt.console"
            class="net.certiv.antlr.dt.console.preferences.page.ConsolePage"
            name="Console">
      </page>
   </extension>
   
</plugin>
