<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            describer="net.certiv.antlrdt.core.AntlrDTContentDescriber"
            file-extensions="g4"
            id="net.certiv.antlrdt.core.contentType"
            name="Antlr grammars"
            priority="high">
      </content-type>
   </extension>
   <extension
         id="net.certiv.antlrdt.core.nature"
         name="AntlrDT Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="net.certiv.antlrdt.core.AntlrDTNature">
         </run>
      </runtime>
      <builder
            id="net.certiv.antlrdt.core.builder">
      </builder>
   </extension>
   <extension
         id="net.certiv.antlrdt.core.builder"
         name="AntlrDT Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="net.certiv.antlrdt.core.builder.AntlrBuilder">
         </run>
      </builder>
   </extension>

   <extension
         id="net.certiv.antlrdt.core.problem"
         name="Grammar Problem"
         point="org.eclipse.core.resources.markers">
      <super type="net.certiv.dsl.core.marker.problem"/>
   </extension>
      
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.certiv.antlrdt.core.preferences.PrefsInitializer">
      </initializer>
   </extension>

</plugin>
